/*Content*/
.content{
  min-width: 100vw;
  .container{
    max-width: 968px;
    margin: 0 auto;
    padding: 0 24px;
  }
  article{
    padding: 60px 0;
  }
  -webkit-transition: margin-left @pushTime ease-in-out;
  transition: margin-left @pushTime ease-in-out;

}
@media(max-width:@mobile-size){
  .content{
    &.menu-active{
      margin-left: @mobileNavWidth;
    }
  }
}

/*End Content*/