/* Variables */

//Colors
@magenta:#ec008c;
@lightGray:#eee;
@black:#000;
@white:#fff;
@translucentBlack:rgba(0, 0, 0, 0.5);

//Mobile
@mobileNavWidth:80%;

//Transition
@pushTime:333ms;

// Responsive
  // no need for '@desktop-size' variable
  @mobile-size: 767px;